.app {
  text-align: center;
}

.app-header {
  background-color: #1976d2;  
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
