.footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    font-size: calc(15px);
    color: white;  
    z-index: 5;  
}

.content {
    margin-bottom: 56px;
}

.stickyColumn {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 5;
    background: white;
}